$theme-bg-color: #0B1E2D;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
  background-color: $theme-bg-color;
  text-align: center;
  height: 100%;
}


.characters{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 752px;
  &__counter{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #5B6975;
  }
  &__blocks{
    overflow-y: auto;
    max-height: 640px;
    scroll-snap-type: y mandatory;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px auto;


  }
  &__counter{
    margin: 0 16px;
  }
  &__layout{
    margin: 0 32px;
  }
}
