@import "../variables";
input{
    &:focus {
        outline: none;
    }
    border: none;
}
button{
    border: none;
}
html[data-theme="dark"]{
    $theme-bg-color:#FFF;
}
html{
    background-color: $theme-bg-color;
}
body{
    min-height: calc(var(--vh, 1vh) * 100);
}
.App{
    width: 100%;
    text-align: center;
    height: 100%;
}
.container{
    background-color: $theme-bg-color;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}

