@import "../variables";
input{
    &:focus {
        outline: none;
    }
    border: none;
}
button{
    border: none;
}
html[data-theme="dark"]{
    $theme-bg-color:#FFF;
}

.App{
    width: 375px;
    text-align: center;
    height: 812px;
}
.container{
    background-color: $theme-bg-color;
    height: 752px;
    position: absolute;
    top: 0;
    width: 375px;
}

