@import "../variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
}
.log-in{
  background-color: $theme-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(var(--vh, 1vh) * 100);

  &__offer{

    a{
      text-decoration: none;
      color:#43D049;
    }
    p{
      color: #5B6975;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
  }
  &__form-wrapper{
    height: 300px;
  }
  &__img-wrapper{
    width: 267.83px;
    height: 376.22px;
    text-align: center;
  }
  &__img{
    width: 267.83px;
    height: 376.22px;
  }
  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


