@import "../variables";
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  .container{
    background-color: $theme-bg-color;
    text-align: center;
  }



  .characters{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100% - 60px);
    &__counter{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;

      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: #5B6975;
    }
    &__blocks{
      overflow-y: auto;
      max-height: calc(var(--vh, 1vh) * 77);
      scroll-snap-type: y mandatory;
      max-width: 100%;
      overflow-x: hidden;
    }
    &__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 16px auto;


    }
    &__counter{
      margin: 0 16px;
    }
    &__layout{
      margin: 0 32px;
    }
  }

