@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.character{
  max-width: 100%;
  margin: 24px 0;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrapper{
    max-width: 100%;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    height: 100%;
    flex-direction: row;
  }

  &__status{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #43D049;
  }
  &__full-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  &__gender-species{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    margin: 0;
    color: #6E798C;
  }
  &__img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
   }

  &__info{
    margin: auto 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    height: 65px;
  }
}


.two-in-line{
  width: 120px;
  height: 120px;
}

.fl-col{
  flex-direction: column;
}
.hl-width{
  height: 250px;
  width: 50%;
  display: inline-block;
  margin: 0;
}
.align-center{
   text-align: center;
  height: 65px;
}

.txt-stl-character-status{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}