@import "../variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.location{
  width: 343px;
  height: 218px;
  margin: 24px auto;
  &__img{

    width: 343px;
    height: 150px;
    img{
      border-radius: 20px 20px 0 0;
      width: 343px;
      height: 150px;
    }
  }
  &__title{
    border-radius: 0 0 20px 20px;
    background-color: $theme-bg-input-color;
    text-align: left;
    height: 68px;
    display: flex;
    flex-direction: column;
    h3{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      /* identical to box height, or 140% */

      letter-spacing: 0.15px;
      margin: auto 16px;


      color: #FFFFFF;
    }
    p{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height, or 133% */
      margin: 0 16px 12px;

      letter-spacing: 0.5px;

      color: #6E798C;

    }
  }
}