@import "../variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.locations{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  //max-height: calc(100% - 60px);
  min-height: calc((var(--vh, 1vh) * 100) - 60px);
  &__wrapper{
    height: 100%;
  }
  &__info{
    text-align: left;
  }
  &__counter{
    color: $theme-placeholder-color;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 24px 16px;
  }
  &__location-block{
    overflow-y: auto;
    max-height: calc(var(--vh, 1vh) * 75);
    scroll-snap-type: y mandatory;
    max-width: 100%;
    overflow-x: hidden;
  }
}