@import "../variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.registration{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $theme-bg-color;
  min-height: calc(var(--vh, 1vh) * 100);

  &__title-wrapper{
    width: 100%;
    text-align: left;
    height: 36px;
    margin-bottom:36px;
  }
  &__title{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    color: #FFFFFF;
  }
  &__arrow-back-wrapper{
    width: 100%;
    text-align: left;
    height: 36px;
    display: flex;
    align-items: center;
  }
  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 482px;
  }
  &__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;

    &_personal-data{
      height: 248px;
      border-bottom: 2px solid rgba(21, 42, 58, 0.5);
      margin-bottom: 36px;
      padding-bottom: 36px;
    }
    &_authorization-data{
      height: 162px;
      margin-bottom: 50px;
    }
  }
}