@import "../variables";
.registration-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__label{
    color: #f1f1f1;
    align-self: start;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  &__wrapper{
    display: flex;
    background-color: $theme-bg-input-color;
    border-radius: 12px;
    width: 320px;
    height: 48px;
    margin: 8px auto 10px;
    align-items: center;
  }
  &__input{
    background-color: $theme-bg-input-color;
    &::placeholder{
      color: $theme-placeholder-color;
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;
      letter-spacing: 0.5px;
    }
  }
}

input[type="password"]{
  color: #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: -.75px;
}
input[type="text"]{
  color: #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: -.75px;
}